@main("Betterrev Help", false, false, true, false) {

    <h2>I need help from a real Human!</h2>
    <p>
        <a href="/contactus/"><img src="@routes.Assets.at("images/Icon_Arrow_60x60px.png")" alt="Contact Us"/> Contact Details</a>
    </p>

    <h2>How do I start?</h2>
    <p>
        If you're new to Betterrev then you'll want to do the following: 
        <ol>
            <li>Create a <a href="https://bitbucket.org/" target="_blank">BitBucket</a> account</li>
            <li>Join the <a href="https://bitbucket.org/adoptopenjdk/" target="_blank">Adopt OpenJDK BitBucket Organisation</a></li>
            <li>Fork the <a href="https://bitbucket.org/adoptopenjdk/adopt" target="_blank">adopt repo</a></li>
            <li>Do X</li>
        </ol>
    </p>

    <h2>What is Betterrev all about?</h2>
    <p>
        Betterrev is a website and workflow to help improve the velocity and quality 
        of patches going into <a href="http://openjdk.java.net" target="_blank">OpenJDK</a>.
        It does this by:
        <ol>
            <li>
                Providing up to date clones of OpenJDK forests in <a href="https://bitbucket.org/" target="_blank">BitBucket</a>
            </li>
            <li>Allowing a Pull Request model for submitting patches</li>
            <li>Providing a trackable workflow for a submitted patch (via this website)</li>
            <li>Automatically generating a Webrev for a given patch</li>
            <li>Automatically building the patch and running jtreg tests on major platforms (Continuous Integration)</li>
            <li>Automated requests for sponsors in the correct OpenJDK mailing lists for a patch</li>
        </ol>
    </p>

    <h2>What's the behind the scenes workflow?</h2>
    <p>We simplify things as much as possible for the end user, but for those who are curious</p>
    <p>
        A typical workflow works as follows (you will be notified at each stage):
        <ol>
            <li><strong>Betterrev</strong> keeps up to date copies of OpenJDK repos in BitBucket</li>
            <li><strong>You</strong> fork the appropriate <a href="https://bitbucket.org/adoptopenjdk/" target="_blank">OpenJDK repo(s)</a> from BitBucket</li>
            <li><strong>You</strong> submit a Pull Request for your patch via BitBucket</li>
            <li><strong>Betterrev</strong> will create what's known as a PullReview</li>
            <li><strong>Betterrev</strong> will build your PullReview on a Build Farm (TODO)</li>
            <li><strong>Betterrev</strong> will run the JTReg regression test suite over your PullReview (TODO)</li>
            <li><strong>Betterrev</strong> will generate a Webrev for you</li>
            <li><strong>Betterrev</strong> will discover which mailing lists you need to send the Webrev to</li>
            <li><strong>You</strong> can then send a message (through the BetterRev site) to the mailing lists.</li>
            <li>
                <strong>You</strong> will need to follow up on comments from those mailing lists and update your 
                BitBucket Pull Request accordingly.
            </li>
            <li><strong>Betterrev</strong> will automatically update the PullReview based on your changes and the cycle begins again</li>
            <li>When your Webrev is accepted, it will be committed through the normal OpenJDK channels</li>
            <li><strong>Betterrev</strong> will archive your PullReview (and BitBucket Pull Request)</li>
        </ol>
    </p>

    <h2>Why is it called Betterrev?</h2>
    <p>
        The official way to submit a patch to OpenJDK is through a tool called Webrev. 
        Webrev is a barrier for some contributors as it is only supported on some 
        operating systems and requires you to host a static web site for your patch.<br />
        <br />
        So we decided to create a workflow called Betterrev to remove this barrier!
    </p>


}
